.desktop {
    width: 100vw;
    height: 100vh;

    &__container {
        max-width: 900px;
        margin:auto;
        border: 1px solid red;
    }

    &__heading {
        text-align: center;
    }
}